CONKY_DIR=/home/YOUR_USER/.config/conky
STOCK_VENV=/home/YOUR_USER/.local/share/stock_venv
WEATHER_LAT=0.000000
WEATHER_LON=0.000000
MOUNT_STORAGE_PATH=/mnt/storage
MOUNT_OS2_PATH=/mnt/os2
# Available indices in stock/get_stocks.py: sp500, dax, omx30
STOCK1_INDEX=sp500
STOCK1_LABEL="S&P 500"
STOCK2_INDEX=dax
STOCK2_LABEL=DAX
STOCK3_INDEX=omx30
STOCK3_LABEL=OMX30
